body {
  font-weight: 400;
  overflow-x: hidden; /* HACK: hide offscreen slideout menu */
}
body > header {
  display: flex;
  position: relative;
  padding: 1rem;
  background-color: #000;
}

footer {
  color: #999;
  text-align: right;
  font-size: smaller;
  background-color: #000;
  padding-right: 1rem;
  height: 3rem;
  line-height: 3rem; /* vertically centered */
}

section {
  position: relative; /* so that header can be positioned absolutely, relative to the section */
}
section header {
  position: absolute;
  top: -1rem;
  width: 18rem;
  color: #fff;
  background-color: #000;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: right;
  padding-right: 1rem;
  z-index: 2; /* over other page content */
}

/* SLIDEOUT MENU AND TOGGLE */

#menu-toggle {
  position: absolute;
  top: 23px;
  right: 10px;
  width: 60px;
  height: 45px;
  transform: rotate(0deg);
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}
#menu-toggle.open {
  transform: rotate(90deg);
}

#slideout-menu {
  position: relative;
}
#slideout-menu .container { /* so we don't get an hscroll bar on the offscreen menu below  */
  overflow: hidden;
}
#slideout-menu nav {
  position: absolute;
  top: 0;
  left: 100vw; /* offscreen to the right */
  width: 100%;
  height: calc(100vh - 5.75rem); /* minus header, so we don't get an unnecessary vscrollbar */
  z-index: 999; /* above all page content */
  background-color: #111;
  transition: left .5s ease-in-out; /* property, duration, timing function */
}
#slideout-menu.open nav {
  left: 0;
}
#slideout-menu ul {
  list-style: none;
  padding: 0 0 1rem 0;
}
#slideout-menu li {
  visibility: hidden;
  color: #999;
  font-size: 3rem;
  font-weight: 600;
  padding-left: 1rem;
}
#slideout-menu li a {
  display: block;
  color: inherit;
  text-decoration: none;
}
#slideout-menu.open li {
  animation: .5s menuFadeIn;
  animation-fill-mode: forwards;
}
#slideout-menu.open li:nth-child(2) {
  animation-delay: .1s;
}
#slideout-menu.open li:nth-child(3) {
  animation-delay: .2s;
}
#slideout-menu.open li:nth-child(4) {
  animation-delay: .3s;
}
#slideout-menu.open li:hover {
  color: #ccc;
}
#slideout-menu.open li:nth-child(odd) {
  background-color: #1d1d1d; /* lighter than #111 */
}

/* OVERLAY ON SLIDES AND FEATURED PROJECTS */

.overlay {
  position: absolute;
  top: 5rem;
  left: 3rem;
  padding: 1rem;
  font-size: 2rem;
  line-height: 2rem;
  color: #111;
}
.light-text .overlay {
  color: #fff;
}
.dark-text .overlay {
  color: #111;
}
.overlay * {
  position: relative;
  left: -100vw; /* offscreen to the left */
  transition: all .5s ease-in-out;
}
.active-slide .overlay * {
  left: 0;
}
.overlay .industry, .overlay .my-work {
  font-size: 1em;
  font-weight: 200;
}
.overlay .my-work {
  text-transform: uppercase;
}
.overlay .title {
  font-size: 3em;
  line-height: 1em;
}
.overlay .link {
  display: block;
  margin-top: 4em;
  font-size: .75em;
  text-decoration: none;
  text-transform: uppercase;
}
.overlay .link:hover::after {
  content: " \00bb"; /* from http://www.evotech.net/blog/2007/04/named-html-entities-in-numeric-order */
  display: inline;
}

/* SLIDESHOW */

.slide img {
  width: 100%; /* scale to fit window */
}
#slideshow div.lazy {
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#brose-page div.lazy {
  background-position: top center;
}

/* SITE TAGLINE */

#site-tagline p {
  color: #666;
  font-size: 2rem;
  font-style: italic;
  line-height: 2.2rem;
  padding: 3rem 1rem;
}
#site-tagline p::before { /* left quotation mark */
  content: "\201C"; /* https://css-tricks.com/snippets/html/glyphs */
  font-weight: 600;
}
#site-tagline p::after { /* right quotation mark */
  content: "\201D";
  font-weight: 600;
}

/* FEATURED PROJECTS */

#featured-projects .container {
  display: flex;
  flex-wrap: wrap;
}
#featured-projects figure {
  position: relative; /* for positioning the mask and overlay */
  overflow: hidden;
  height: 350px;
  flex: 1 0 25%; /* flex-grow, flex-shrink, flex-basis */
}
#my-work-page #featured-projects figure {
  height: 600px;
  flex: 1 0 50%; /* flex-grow, flex-shrink, flex-basis */
}
#featured-projects figure:nth-child(1) { /* first project */
  flex: 1 0 35%;
}
#featured-projects figure:nth-last-child() { /* last project */
  flex: 1 0 35%;
}
#featured-projects .lazy {
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .5s ease;
}
#featured-projects figure:hover * {
  left: 0;
}
#featured-projects figure:hover .lazy {
  filter: brightness(50%);
}
#featured-projects figure a {
  display: block;
  width: 100%;
  height: 100%;
}
#featured-projects .overlay {
  top: 1rem;
  left: 1rem;
  color: #fff;
  font-size: 1rem;
}
#my-work-page #featured-projects .overlay {
  top: 5rem;
  left: 3rem;
  color: #fff;
  font-size: 1rem;
}
#featured-projects .overlay .link {
  margin-top: 2em;
  color: #fff; /* same as industry and title */
}
#featured-projects .link:hover::after {
  content: " \00bb"; /* from http://www.evotech.net/blog/2007/04/named-html-entities-in-numeric-order */
  display: inline;
}

/* PROJECT PAGE */

.project-overlay #slideshow {
  z-index: -1; /* so overlay is on top */
}
#project-tagline {
  position: relative;
}
#project-tagline .container {
  display: flex;
  flex-wrap: wrap;
}
#project-tagline article {
  flex: 1 0 50%; /* flex-grow, flex-shrink, flex-basis */
  font-size: 1.5rem;
}
.project-description {
  color: #fff;
  background-color: #111;
  margin-top: -2rem; /* a bit higher than the project-components */
  padding: 4rem 6rem 6rem 6rem;
  font-style: italic;
  z-index: 2; /* over the hero image */
}
.project-components {
  padding: 4rem;
}
.project-components dt {
  padding-bottom: 1rem;
}
.project-components dl {
  list-style: none;
  padding-left: 1rem;
  font-size: 1.25rem;
  letter-spacing: -1px;
  font-weight: 600;
}
.project-components dd::before {
  content: "\2014\00a0\00a0\00a0\00a0"; /* mdash and 4 spaces */
  color: silver;
  font-weight: normal;
}
.project-components dd:nth-child(even) {
  color: gray;
}

#project-artwork img {
  display: block;
  width: 100%;
  max-width: 100%;
  padding-bottom: 1rem;
}

nav.next-prev-project {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
nav.next-prev-project li {
  list-style: none;
  flex: 1 0 50%; /* flex-grow, flex-shrink, flex-basis */
}
nav.next-prev-project li:nth-child(1) {
  padding-left: 10rem;
}
nav.next-prev-project li:nth-child(2) {
  text-align: right;
  padding-right: 10rem;
}
nav.next-prev-project header {
  color: silver;
}
nav.next-prev-project a {
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* ABOUT PAGE */

li.my-goal {
  font-weight: normal;
  padding-left: 2.25rem;
}
li.my-goal::before {
  content: " ";
  display: block;
}

#skills {
  margin-top: 4rem;
  padding: 1rem 0;
  color: #fff;
  background-color: #000;
}
#skills .container {
  display: flex;
  flex-wrap: wrap;
}
#skills dl {
  flex: 1 0 50%; /* flex-grow, flex-shrink, flex-basis */
  padding: 0 7rem;
}
#skills dt {
  font-size: 1.9rem;
  font-weight: 200;
  padding: 1rem 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}
dl.with-dt-mdash dt::before {
  content: "\2014"; /* mdash */
  display: inline-block;
  width: 3rem;
  color: #00ffff;
  font-weight: 200;
}
dl .item-container {
  margin-left: 3rem; /* align with dt::before */
}
#skills dd {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 600;
  display: inline-block;
}
#skills dd::after {
  content: "\00a0/"; /* space and forward slash */
  display: inline-block;
  color: #00ffff;
}
#skills dd:last-child::after { /* but no slash on the last one */
  content: " ";
}

#clients .flex-container {
  padding: 0 6rem;
}
#clients img { /* 6 per row */
  max-width: calc(100% / 6);
  flex: 0 0 calc(100% / 6); /* flex-grow, flex-shrink, flex-basis */
}

#skills header, #clients header {
  color: #fff;
  background-color: #00ffff;
}

/* HELPER CLASSES */

.hidden {
  display: none;  
}

.darken {
  filter: brightness(50%);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.under-construction {
  width: 100%;
  height: 100vh;
  color: gold;
  background-color: navy;
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  padding: 2rem 0 4rem 0;
}
.under-construction::after {
  content: " is under construction";
  display: block;
  font-size: 3rem;
  font-weight: normal;
}

/* BOOTSTRAP OVERRIDE */

figure {
  margin-bottom: 0;
}

/* KEYFRAME ANIMATIONS */

@keyframes menuFadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
