/* modified from: https://github.com/leemark/better-simple-slideshow */
#slideshow {
  display: block; 
  position: relative;
  line-height: 0; /* removes the gap if you put a border on the slideshow div */
}
#slideshow:focus {
  outline: 0;
}
#slideshow .slide {
  position: absolute;
  top: 0;
  width: 100%;
}
#slideshow .slide:first-child {
  position: relative;
}
#slideshow .slide img {
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#slideshow .active-slide {
  z-index: 2;
}
#slideshow .active-slide img {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative; 
}
.next-slide, .prev-slide {
  color: #fff;
  position: absolute;
  background: #000;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 4;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: .3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.next-slide:hover, .prev-slide:hover {
  cursor: pointer;
  opacity: 1;
}
.next-slide {
  right: 0px;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev-slide {
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
